/*Mobile Version*/
@media (max-width:768px) {
.section{
    background-color: skyblue;
    padding: 20px;
    }
.section>ul>li{
    display: block;
}
.section>ul{
    float: none;
}
.section{
    text-align: center;
}
}
/*TAB Version*/
@media (min-width:769px) and (max-width:1024px){
.section{
    background-color: red;
    padding: 20px;
    }

.section>ul>li{
    display: block;
}
.section>ul{
    float: none;
}
.section{
    text-align: center;
}
}