*{
    margin: 0%;
    padding: 0%;
}

.transition{
    background-color: aquamarine;
    color: brown;
    padding: 20px;
    margin: 20px;
}
.TRF{
    color: blue;
    transition: 200ms;
    transition: 2s;
    transition: color 2s;
    transition: background-color calc(3s + 1s); 
}
.transition:hover{
    color: darkgray;
    background-color: brown;
}

.section{
    background-color: aquamarine;
    color: brown;
    padding: 20px;
    margin: 20px;
}
.bgClip{
    background-color:pink;
    border: 5px dotted burlywood;
    border-radius: 10px;
    text-align: justify;
    transition: 2s;
    background-clip: content-box;
    background-clip: padding-box;
    background-clip: border-box;
}
.bgClip:hover{
    border-radius: 50%;
    text-align: center;
}
/*p3.html */
.common{
    width: 400px;
    height:100px;
    margin:20px;
    background-color: rgb(159, 201, 22);
    color: wheat;
    transition:width 2s;
}
.common:hover{
    width: 100px;
    background-color: goldenrod
    
}
.d1{ transition-timing-function: linear;}/*cubic beizer(0,0,1,1)*/
.d2{ transition-timing-function: ease-in;}/*cubic beizer(0.42,0,1,1)*/
.d3{ transition-timing-function: ease-out;}/*cubic beizer(0,0,0.58,1)*/
.d4{ transition-timing-function: ease;}/*cubic beizer(0.25,0.1,0.25,1)*/
.d5{ transition-timing-function: ease-in-out;}/*cubic beizer(0.42,0,0.58,1)*/
.d6{ transition-timing-function: steps(4,jump-start);}/* jump-start*/
.d7{ transition-timing-function:cubic-bezier(0.55, 0.055, 0.675, 0.19);}/* */





