@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
.nav-area{
    height: 60px;
    position: absolute;
    width: 100%;
}
.logo{
    margin: 10px 50px;
    height: 60px;
    float: 60px;
    color: brown;
    font-size: 35px;
    text-transform: capitalize;
}
.menu{
    float: left;
    list-style: none;
    margin: 20px;
}
.menu li{
    display: inline-block;
    margin: 0 5px;
}
.menu li a{
    text-decoration: none;
    color: azure;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 700;
}
header .welcome{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}